<!--suppress XmlUnboundNsPrefix -->
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>simulation.log</file>

        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %level <!--[%thread]--> <!--%logger{10} [%-20file:%3line{40}]--> %msg%n</pattern>
        </encoder>
    </appender>


    <!-- SiftingAppender will manage all of the log file and allow us to create a new file per game!-->
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>gameInfo</key>
            <defaultValue>0</defaultValue>
        </discriminator>
        <sift>
            <appender name="${gameInfo}" class="ch.qos.logback.core.FileAppender">
                <file>./json/${gameInfo}.json</file>
                <append>false</append> <!-- truncates existing files if they exist -->
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="SIFT" />
    </appender>

    <logger name="json" additivity="false">
        <appender-ref ref="ASYNC" />
    </logger>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>

</configuration>